canvas {
    display: block;
    border: solid thin black;
    margin: 0 auto;
}



#bspl1gSandbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paintCanvasContainer {
    position: relative;
}

#bspl1gCanvas {
    cursor: none;
}

#paintCursor {
    position: absolute;
    cursor: none;
    pointer-events: none;
}

#brushSettings {
    width: 100%;
}