table {
    width: 100%;
    font-size: clamp(.5rem, 2.5vw, 1.5rem);
    border-spacing: 0;
    margin: 0 auto;
}

tr {
    width: 100%;
}

/* table :not(tr:last-of-type td), */
tr:not(tr:last-of-type) > td {
    border-bottom: solid .125rem var(--primary);
}

th,
td {
    width: 20%;
    
    padding: .5rem;
}

th, td:first-of-type {
    text-align: center;
}

table ul {
    padding: 0;
}

th {
    color: white;
    background-color: var(--primary);
}